.Title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;

    font-size: xx-large;
}


.Input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;

    gap: 1rem;
}

.Output-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    min-height: 10vh;
    overflow-y: auto;
    height: 450px;
    width: fit-content;
    margin: 0 auto;
}

/*Modified version of https://uiverse.io/muhammad_1180/ordinary-fish-9*/
.background {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: white;
    background: radial-gradient(100% 150% at 50% 10%, #ffffff 40%, rgb(94, 94, 94) 100%);
    z-index: -10;
}